@charset 'UTF-8';

body, p, h1, h2, h3, h4, h5, h6, ul, dl, ol, dd, form {
	margin: 0;
}
ul, ol {
	list-style: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, input, textarea, select {
	font-size: 100%;
}
input, textarea, select {
	font-family: inherit;
}

@media screen and (max-width: 1024px) {
	body {
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-user-select: none;
		-webkit-text-size-adjust: none;
		-webkit-touch-callout: none;
	}
}
